.main {
  margin: 175px 0 0; /*Header hight*/
  height: calc((var(--vh, 1vh) * 100) - 175px); /*Header hight*/
  overflow-y: auto;
  overflow-x: hidden;
  mask-image: linear-gradient(transparent, rgba(0, 0, 0, 1) 20px);
  padding: 30px 0 0; /*move content down from blur*/
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s;
}

.main::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.6);
}

.main_notHome {
  scrollbar-gutter: stable both-edges;
  background-color: rgba(0, 0, 0, 0.6);
  mask-image: linear-gradient(transparent, rgba(0, 0, 0, 1) 10px);
  padding: 10px 0 0;
}

.main_notHome::-webkit-scrollbar-track {
  background: none;
}

.contentWrapper {
  width: 100%;
  padding: 20px 20px 40px;
  transition: all 0.3s;
}

.imageDivider {
  position: fixed;
  transform: translateY(-52%);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .main {
    margin: 230px 0 0; /*Header hight*/
    height: calc((var(--vh, 1vh) * 100) - 230px); /*Header hight*/
  }
  .contentWrapper {
    padding: 20px 35px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .contentWrapper {
    padding: 20px 170px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    margin: 240px 0 0;
    height: calc((var(--vh, 1vh) * 100) - 240px);
    padding: 20px 0 0;
  }

  .contentWrapper {
    padding: 25px 0100px 50px;
    max-width: 1380px;
    margin: 0 auto;
  }

  .imageDivider {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) and (max-height: 750px) {
  .main {
    margin: 185px 0 0; /*Header hight*/
    height: calc((var(--vh, 1vh) * 100) - 185px); /*Header hight*/
  }
}

@media screen and (min-width: 1280px) and (min-height: 900px) {
  .main {
    margin: 275px 0 0; /*Header hight*/
    height: calc((var(--vh, 1vh) * 100) - 275px); /*Header hight*/
  }
}
