.main {
  margin: 170px 0 0; /*Header hight*/
  height: calc((var(--vh, 1vh) * 100) - 170px); /*Header hight*/
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: rgba(0, 0, 0, 0.4); */
  mask-image: linear-gradient(transparent, rgba(0, 0, 0, 1) 30px);
}

@media screen and (min-width: 768px) {
  .main {
    margin: 225px 0 0; /*Header hight*/
    height: calc((var(--vh, 1vh) * 100) - 225px); /*Header hight*/
  }
}

@media screen and (min-width: 1280px) and (min-height: 900px) {
  .main {
    margin: 260px 0 0; /*Header hight*/
    height: calc((var(--vh, 1vh) * 100) - 260px); /*Header hight*/
  }
}
