.switcher {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  padding: 15px 0;
}

.option {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 7px 10px;
  background: none;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

.optionActive {
  font-weight: 700;
  background: linear-gradient(90deg, #eec571 -15.03%, #ad560a 50.97%, #eec571 110.43%);
  border: 1px solid #eec571;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .option {
    font-size: 16px;
    padding: 10px 15px;
  }
}

@media screen and (min-width: 768px) {
  .option:hover {
    opacity: 0.7;
  }
}
