.header {
  width: 100%;
  position: fixed;
  top: 0;
}

.header__logoContainer {
  position: relative;
  aspect-ratio: 341/200;
  width: 100%;
  max-width: 190px;
  margin: 10px auto;
}

.header__menuButton {
  background: url('/images/icon_burger.svg') center no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;

  border: none;
  outline: none;

  position: absolute;
  top: 10px;
  right: 12px;

  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header__logoContainer {
    max-width: 260px;
    margin: 15px auto;
  }

  .header__menuButton {
    width: 60px;
    height: 60px;
    top: 18px;
    right: 23px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: fit-content;
    z-index: 2;
  }

  .header__menuButton {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
    left: 50%;
    right: 50%;
    margin: 0 0 0 -640px; /*half of width*/
  }
}

@media screen and (min-width: 1280px) and (min-height: 900px) {
  .header__logoContainer {
    max-width: 315px;
    margin: 15px auto 20px;
  }
}
