.header {
  width: 100%;
  position: fixed;
  top: 0;
}

.header__logoContainer {
  position: relative;
  aspect-ratio: 341/200;
  width: 100%;
  max-width: 190px;
  margin: 10px auto;
}

.header__menuButton {
  background: url('/images/icon_burger.svg') center no-repeat;
  width: 44px;
  height: 44px;

  border: none;
  outline: none;

  position: absolute;
  top: 10px;
  right: 12px;

  margin: 0;
  padding: 0;
}
