.footer {
  position: relative;
  background: #15021e url('/images/camel.png') bottom right -33px no-repeat;
  background-size: 214px;
  padding: 30px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto 0 0;
  width: 100%;
  justify-self: flex-end;
}

.footer__divider {
  position: absolute;
  top: 0;
  transform: translateY(-52%);
  z-index: 1;
  margin: 0 0 0 -20px;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 34px;
}

.social__button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  opacity: 1;
  transition: all 0.3s;
}

.social__button:hover {
  opacity: 0.7;
}

.social__button_fb {
  background: url('/images/icon_fb.svg') center no-repeat;
}

.social__button_insta {
  background: url('/images/icon_insta.svg') center no-repeat;
}

.social__button_email {
  background: url('/images/icon_at.svg') center no-repeat;
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer__link {
  text-decoration: underline;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    background: #15021e url('/images/camel.png') bottom right -20px no-repeat;
    background-size: 302px;
    margin: auto 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
    margin: auto 0 0;
  }

  .footer__divider {
    margin: 0 -50px 0 0;
  }

  .footer__copyrightWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer__text,
  .footer__copyright {
    text-align: left;
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background: none;
    max-width: 1500px;
    margin: auto auto 0;
    padding: 50px 160px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .footer__divider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-52%);
    z-index: 1;
    margin: 0;
  }
}
