.langSwitcher {
  display: flex;
  width: 100%;
  justify-content: center;
}

.lang {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 7px 10px;
  background: none;
  border: none;
  outline: none;
  color: var(--text-color);
}

.langActive {
  font-weight: 700;
  color: var(--accent-text-color);
}
