.divider {
  width: 100vw;
  aspect-ratio: 877/83;
  margin: 0;
  background: url('/images/line_s.png') center/100% no-repeat;
}

.divider_inverted {
  transform: rotate(180deg);
}

@media screen and (min-width: 1024px) {
  .divider {
    aspect-ratio: 1700/91;
    background: url('/images/line_l.png') center/100% no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .divider {
    background: url('/images/line_l.png') center/1500px no-repeat;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
  }
}
