.contentWrapper {
  padding: 5px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.logoWrapper {
  min-height: 70px;
  max-height: 100px;
  margin: 0 auto;
  position: relative;
}

.logoWrapper_aliah {
  aspect-ratio: 1557/401;
}

.logoWrapper_ostrovska {
  aspect-ratio: 231/89;
}

@media screen and (min-width: 768px) {
  .contentWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    padding: 15px 0 0;
  }

  .section {
    gap: 15px;
  }
}
