.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo__wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.photo__wrapper_large {
  position: fixed;
  top: 5%;
  left: 7%;
  right: 7%;
  bottom: 5%;
}

.photo {
  display: block;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}

@media screen and (min-width: 768px) {
  .photos {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
  }
}
