.section {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 15px 30px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.details[open] {
  border: 1px solid var(--main-text-color);
}

.details__summary {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: var(--accent-text-color);
  opacity: 1;
  transition: all 0.3s;
}

.details[open] .details__summary {
  margin: 0 0 10px;
}

@media screen and (min-width: 768px) {
  .details {
    margin: 10px 25px;
    padding: 15px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .details__summary:hover {
    opacity: 0.7;
  }
}
