.contentWrapper {
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  padding: 20px 20px 40px;
}

.content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  margin: 0 0 35px;
  padding: 0;
}

.content__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.content__text:not(:nth-of-type(1)) {
  margin: 15px 0 0;
}

.content__text_accent {
  font-weight: 700;
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .content {
    padding: 25px 155px 50px;
  }

  .content__title {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 35px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    padding: 25px 170px 50px;
  }

  .content__title {
    font-size: 28px;
    line-height: 32px;
  }

  .content__text {
    font-size: 16px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    max-width: 782px;
    padding: 25px 0 50px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) and (min-height: 900px) {
}
