.section {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0;
  max-width: 600px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.naviWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
