.h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  /* margin: 0 0 35px; */
  margin: 0;
  padding: 0 0 15px;
}

.h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 25px 0 15px;
}

.h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  /* margin: 0 0 35px; */
  margin: 0;
  padding: 0;
}

.h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  /* margin: 0 0 35px; */
  margin: 0;
  padding: 0;
}

.accent {
  color: var(--accent-text-color);
}

.centered {
  text-align: center;
}

.p,
.list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.p {
  padding: 5px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px 0 5px 30px;
}

.list_summary {
  list-style: none;
  padding: 5px 0;
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .h2 {
    font-size: 22px;
  }

  .h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .h1 {
    font-size: 28px;
    line-height: 32px;
  }

  .h2 {
    font-size: 24px;
  }

  .h3 {
    font-size: 20px;
  }

  .p,
  .h4,
  .list {
    font-size: 16px;
  }
}
